<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Your post</title>
  </head>
  <body>
    <h1>Edit your post</h1>
    <h2>Id: <%= post.id %></h2>
    <form method="post" action="/post/<%= post.id %>?_method=PATCH">
      <label for="title">Title: </label>
      <input
        type="text"
        name="title"
        id="title"
        value="<%= post.title %>"
      /><br />
      <br />
      <input type="text" name="content" value="<%= post.content %>" /><br />
      <button>Sumbit</button>
    </form>
  </body>
</html>
